
/*Elements*/
body{
    background:#34ff00;
}
li{
    list-style: none;
}
/*Classes*/
.precent{
    width:25%;
}
.content{
    background:white;
}
.jumbotron{
    color:white; 
    background-color:#444;
    font-family: 'Slabo 27px', serif;
}
.border-content{
    border-left:  3px #a1a1a1 solid ;
    border-right: 3px #a1a1a1 solid ;
}
.inch{
    font-size: 144px;
}

.list-group-item{
    display: inline-block;
}
.name{
    font-size: 20px;
    display: inline-block;
}
.color-block{
    width:20px;
    height:19px;
    background: #34ff00;
    display: inline-block;
}